$color-html-bg: rgb(218, 170, 14);
$color-nav:rgb(255, 255, 255);
$color-main-bg: rgb(255, 255, 255);
$color-main-ele-bg:rgb(212, 213, 216);
$color-btn-bg:rgb(218, 170, 14);
$color-btn-txt:rgb(255, 255, 255);
